/* Reset mặc định */
body, html {
    height: 1500px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Phần header */
#header {
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background-color: #FBE3BF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: opacity 0.3s ease;
    z-index: 2;
    animation: header 1s forwards;
}

@keyframes headerAnimation {
  0% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Định dạng video trong header */
#header-video {
    position: absolute;
    top: 30px;
    left: 55%;
    transform: translateX(-55%);
    width: 250px;
    height: 250px;
    z-index: 3;
    animation: video 1s linear;
}

@keyframes video {
  0% {
    top: -230px;
    transform: translateX(-55%);
  }
  10% {
    top: -130px;
    transform: translateX(-55%);
  }
  20% {
    top: -57px;
    transform: translateX(-55%);
  }
  30% {
    top: -7px;
    transform: translateX(-55%);
  }
  40% {
    top: 25px;
    transform: translateX(-55%);
  }
  50% {
    top: 44px;
    transform: translateX(-55%);
  }
  60% {
    top: 50px;
    transform: translateX(-55%);
  }
  70% {
    top: 49px;
    transform: translateX(-55%);
  }
  80% {
    top: 45px;
    transform: translateX(-55%);
  }
  90% {
    top: 39px;
    transform: translateX(-55%);
  }
  100% {
    top: 30px;
    transform: translateX(-55%);
  }
}

/* Lớp trong suốt cha */
#overlay {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 4; 
}

/* Search bar container */
#search-bar-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 290px;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 50px;
    z-index: 5; 
}

/* Search bar */
#search-bar {
    position: absolute;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding-left: 40px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: width 0.2s ease, border-radius 1s ease;
    z-index: 7; 
    left: 50%;
    transform: translateX(-50%);
    animation: bar 1s linear;
}

/* Placeholder */
#search-bar::placeholder {
    color: #808080;
    font-style: normal;
}

@keyframes bar {
  0% {
      transform: translateX(-50%) scaleX(0) scaleY(0.1) translateY(20.7px);
  }
  10% {
      transform: translateX(-50%) scaleX(0.38) scaleY(0.5) translateY(11.5px);
  }
  20% {
      transform: translateX(-50%) scaleX(0.63) scaleY(0.75) translateY(5.75px);
  }
  30% {
      transform: translateX(-50%) scaleX(0.78) scaleY(0.88) translateY(2.76px);
  }
  40% {
      transform: translateX(-50%) scaleX(0.87) scaleY(0.95) translateY(0.92px);
  }
  50% {
      transform: translateX(-50%) scaleX(0.92) scaleY(0.98) translateY(0.46px);
  }
  60% {
      transform: translateX(-50%) scaleX(0.957) scaleY(0.99) translateY(0.23px);
  }
  70% {
      transform: translateX(-50%) scaleX(0.977) scaleY(1) translateY(0px);
  }
  80% {
      transform: translateX(-50%) scaleX(0.99) scaleY(1) translateY(0px);
  }
  90% {
      transform: translateX(-50%) scaleX(0.997) scaleY(1) translateY(0px);
  }
  100% {
      transform: translateX(-50%) scaleX(1) scaleY(1) translateY(0px);
  }
}

/* Bar inside */
#bar-inside-color {
    position: absolute;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #FBE3BF;
    transition: width 0.3s ease, border-radius 0.4s ease;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
}

/* Text letter A */
#letter-a {
    position: absolute;
    top: 1400px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: red;
}

/* Ruler */
#ruler {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: black;
    z-index: 1000;
}

#ruler::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 100px;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 9px,
        black 9px,
        black 10px
    );
}
