/* Reset mặc định */
body, html {
    height: 1500px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Phần header */
#header {
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background-color: #FBE3BF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: opacity 0.3s ease;
    z-index: 2;
}

/* Định dạng video trong header */
#header-video {
    position: absolute;
    top: 30px;
    left: 55%;
    transform: translateX(-55%);
    width: 250px;
    height: 250px;
    z-index: 3;
}

/* Lớp trong suốt cha */
#overlay {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    z-index: 4; 
}

/* Search bar container */
#search-bar-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 290px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 50px;
    z-index: 5; 
}

/* Search bar */
#search-bar {
    position: absolute;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    padding-left: 40px;
    font-size: 16px;
    outline: none;
    background-color: rgb(255, 255, 255);
    transition: width 0.2s ease, border-radius 1s ease;
    z-index: 7; 
    left: 50%;
    transform: translateX(-50%);
}

/* Bar inside */
#bar-inside-color {
    position: absolute;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    background-color: #FBE3BF;
    transition: width 0.3s ease, border-radius 0.4s ease;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
}


/* Text letter A */
#letter-a {
    position: absolute;
    top: 1400px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: red;
}

/* Ruler */
#ruler {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: black;
    z-index: 1000;
}

#ruler::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 100px;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 9px,
        black 9px,
        black 10px
    );
}
